<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    
    <link rel=stylesheet href="style.css" />
    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="app.js"></script>

</head>

<body ng-app="fibapp" ng-controller="fibController">
    
     <div class="container">
        <button ng-click="toggleRestrictor = !toggleRestrictor">Explain!</button>
         <div ng-class="toggleRestrictor ? 'unrestrictor' : 'restrictor'"><p>Fibonacci's series is a <em>recurrence relation</em> where by Value<sub>n</sub> = Value<sub>n-1</sub> + Value<sub>n-2</sub>.  Each iteration generates a square (<span class="code">&ltrect&gt</span> element) with hieght & width of Value<sub>n</sub>, plus a curve (<span class="code">&ltpath&gt</span> element) with radius Value<sub>n</sub>.</p>
         
         <p>Wrapping each iteration's <span class="code">&ltrect&gt</span> and <span class="code">&ltpath&gt</span> in a <span class="code">&ltg&gt</span>roup allows us to rotate both elements at the same time.  This might normally be done in CSS, but IE10 doesn't obey so a different technique was used: adding <em>inline SVG</em> transform attributes as each <span class="code">&ltg&gt</span>roup is created in the directive's <span class="code">link</span> function</p>
         
         <p>Because we're rotating with each iteration, <span class="code">&ltg&gt</span>roup X and Y starting coordinates are relatively easy to calculate. X<sub>n</sub> and Y<sub>n</sub> depend on attributes of their siblings:
             <br />
             <span class="code">X<sub>n</sub> = +( Y<sub>n-1</sub> )</span>
             <br />
             <span class="code">Y<sub>n</sub> = -( Width<sub>n-2</sub> + Y<sub>n-2</sub> )</span></p>
        </div>
         
         <form>
             <input id="inputIterations" type="range" min="2" max="35" step="1" ng-model="iterations"></input>
             <label for="inputIterations">
                 {{iterations}} iterations
             </label>
         </form>
         
         <p>Resulting Fibonacci series: <br /> {{ series(iterations) | json }}</p>
         
         <form>
             <label for="showHideSquares">Show squares:</label>
             <input id="showHideSquares" type="checkbox" ng-model="showHide" /> 
         </form>
      
    </div>
    
    <svg id="fibonacci"
         fibonacci iterations="iterations" show="showHide"
         height="100%" width="100%"
         viewBox="-200 -400 1200 800"
         preserveAspectRatio="xMinYMid slice"
         xmlns="http://www.w3.org/2000/svg">
    </svg>

</body>

</html>