#fibonacci > rect {
    stroke: white;
    stroke-width: 0;
}

#fibonacci > line.grid {
    stroke: black;
    stroke-width: 0.25;
}

#fibonacci > rect:nth-child(4n + 1) {
    fill: rgba(255, 68, 68, 0.5);
}

#fibonacci > rect:nth-child(4n + 2) {
    fill: rgba(68, 187, 68, 0.5);
}

#fibonacci > rect:nth-child(4n + 3) {
    fill: rgba(68, 68, 187, 0.5);
}

#fibonacci > rect:nth-child(4n + 4) {
    fill: rgba(255, 165, 0, 0.5);
}

li, pre {
    font-family: 'Courier New';
    font-size: 12px;
}

p {
    font-family: Arial, sans-serif;
}