body {
    background: #222;
}

#fibonacci {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

#fibonacci > g > rect {
    stroke: white;
    stroke-width: 0.5;
}

.container {
    position: fixed;
    width: 55%;
    max-height: 90%;
    padding: 0.5em 1.5em;
    top: 1em;
    right: 1em;
    background: rgba(60, 60, 60, .5);
    color: white;
    z-index: 1;
    border: none;
    border-radius: 10px;
    overflow-y: auto;
}

.code {
   font-family: 'Courier New';
   font-size: 0.9em;
}

p,
label {
    font-family: Arial, sans-serif;
}